html, body, .fill { 
    height: 100%;
}

#sidebar-wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 230px;
	height: 100%;
	background: #2b333d;
	overflow-y: auto;
}

#sidebar-wrapper.collapsed{
	width: 68px;
}

#page-wrapper{
	margin: 15px 0 0 230px;
}

#page-wrapper.collapsed{
	margin: 15px 0 0 68px;
}

.navbar-gitlab{
	min-height: 59px;
	border-bottom: 1px solid rgba(0,0,0,.125);;
	margin-left: 230px;
}

.navbar-gitlab.collapsed{
	margin-left: 68px;
}

.brand{
	height: 58px;
	width: 100%;
	padding: 11px 0 11px 22px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	background-color: #333c47;
	border-bottom: 1px solid #333c47;
	z-index: 100;
}

.brand.collapsed{
	padding-left: 15px;
}

.brand:hover{
	background-color: #2B333D;
}

.brand .logo-picture{
	width: 50px;		
}

.brand .logo-text{
	color: #c5d0de;
	font-size: 18px;
	line-height: 10px;
	font-weight: normal;
	margin:0;
}

.brand .logo-picture, .brand .logo-text{
	display: inline;	
}

.breadcrumb-wrapper{
	display: inline;
	min-width: 75%;
}

.breadcrumb {
	margin:0;
	padding: .45rem 1rem;
	list-style: none;
	background-color: transparent;
	font-size: 18px;
}

.breadcrumb li.breadcrumb-item > span{
	color: #4c4e54;
}

.transitional{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-sidebar ul > li.nav-item a.nav-link i,
.navbar-top-links > li.nav-item i{
	margin: 0 .5rem;
	color: #c5d0de;
}

.navbar-top-links > li.nav-item i,
.navbar-top-links > li.nav-item span{
	color: #7f8fa4
}

.nav-sidebar ul > li.nav-item a.nav-link,
.navbar-top-links > li.nav-item a.nav-link{
	cursor: pointer;
}

.nav-sidebar ul > li.nav-item a.nav-link:hover,
.nav-sidebar ul > li.nav-item .active{
	background-color: #24272D;
}

.nav-sidebar ul > li.nav-item a.nav-link span{
	color: #c5d0de;
	font-size: 14px;
}

.nav-sidebar ul > li.nav-item a.active i, 
.nav-sidebar ul > li.nav-item a.active span{
	color: #FFF;
}

.nav-sidebar ul li:first-child{
	margin-top: 1rem;
}

.nav-sidebar ul li.nav-item-separator::after{
	content: "";
    display: block;
    width: 100%;
    background-color: #333c47;
    height: 1px;
    margin: .5rem 0;
}

.abs{
	position: absolute;
	width: 100%;
	z-index: 100;
}

.abs.item-avatar{
	background-color: #2b333d;
	bottom:40px;
}

.abs.item-collapse{
	background-color: #333c47;
	bottom:0;
}

@media only screen and (max-width : 768px) {
	.navbar-nav > li.nav-item{
		padding-left: 1rem;	
	}

	.navbar-nav > li.nav-item:hover{
		background-color: #F7F7F9;
	}
}

.badge{
	font-weight: normal;
}

.badge-default {
    background-color: #24272D;
}

.avatar{
	width: 36px;
    height: 36px;
    margin-right: 10px;
}

.hide{
	display:none !important;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
